* {
	font-family: 'Poppins', 'Segoe UI';
	color: #3A3A3A;
}

img {
	width: 100%;
	font-family: 'Poppins', 'Segoe UI';
	color: #3A3A3A;
}

body {
	background-color: #F1F1F1;
	display: flex;
	flex-direction: column;
	margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

.wrap {
	max-width: 1400px;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	padding-bottom: 100px;
	background-color: #F1F1F1;
}

li, a {
	text-decoration: none;
	color: #3A3A3A;
}

.navbar li{
	display: inline-block;
	color: #3A3A3A;
	padding: 0 30px;
	font-size: 24px;
}

#underline {
	display: inline-block;
  position: relative;
  color: #3a3a3a;
}

#underline::after {
	content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #3a3a3a;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

#underline:hover::after{
	transform: scaleX(1);
  transform-origin: bottom left;
}
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

h3 {
	font-family: 'Poppins';
	color: #3A3A3A;
	font-weight: bold;
	font-size: 32px;
}

#profile-photo {
	border-radius: 50%;
	max-width: 300px;
	max-height: 300px;
	width: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

p {
	font-size: 26px;
	text-align: center;
	color: #3A3A3A;
}

#kiaora {
	font-size: 32px;
	text-align: center;
	color: #3A3A3A;
}



.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #E5E5E5;
  text-align: center;
} 



.cardimages {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.cardimages > h1 {
	position: absolute;
	right: 0;
}


#blogcard1, #blogcard2, #blogcard3{
	width: 100%;
	max-width: 220px;
	max-height: 220px;
	border-radius: 15px;
	margin-top: 15px;
	float: left;
	margin-right: 20px;
	vertical-align: middle;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.075);
}

.view-blog-button {
	padding: 10px 10px;
	display: flex;
	align-content: space-around;
}

#classesidtitle {
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-size: 28px;
}

.classesidheaders {
	display: flex;
  flex-direction: row;
	justify-content: center;
	font-size: 22px;
	font-weight: 600;
	text-align: center;
}


.classidcontent {
	font-size: 16px;
	text-align: center;
}

.codeexamples {
 display: grid;
 grid-template-columns: 600px 600px;;
 justify-content: center;
 column-gap: 5px ;
}

.codeexamples > img {
	max-width: 600px;
	max-height: 200px;
	width: auto;
	justify-content: center;
	border-radius: 15px;
}

.codeexamples > p{
	font-size: 16px;
	font-weight: 400;
	justify-content: center;
}







